<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> 장고 수업 실습 </title>
{% block head %}
{% endblock %}
</head>
<body>
<!-- 상단바 -->
<a href="/"> My HomePage </a>
{# 클라이언트의 회원 정보를 user 변수로 확인 할 수 있음 #}
{# User객체, is_authenticated : 클라이언트가 로그인되있는지 확인하는 변수#}
{# 로그인 된 상태 : True, 비로그인 상태 : False #}
{% if user.is_authenticated %}
	<p>{{user.last_name}} {{user.first_name}} 님 환영합니다!</p>
	<a href="{% url 'cl:signout' %}">로그아웃</a>
{% else %}
	<p>어서오세요! <a href="{% url 'cl:signin' %}">로그인</a></p>
	<a href="{% url 'cl:signup' %}">회원가입</a>
{% endif %}
<hr>
<!-- 컨텐츠 -->
<!-- block tag : 해당 HTML을 다른 HTML이 확장(extends)할 때 수정할 수 있는 영역을 지정하는 태그, 
 다른 HTML이 블록을 수정하고 싶은 경우, 블록 이름과 동일한 블록을 생성해 그 영역안에 HTML코드를 작성하면 됨 -->
{% block content %}

{% endblock %}

<!-- 하단바 -->
<hr>
<p>DIETA - 다이어트 커뮤니티
<P>최진용,정진원,윤지영,김영인,이정훈
<P>연락처 010 - 3902 - 0132

</body>
</html>